body         {background: #000000;
              font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
              color: #A9D0F5;
              font-weight:bold}

p            {font-size: 30px}
p.big        {font-size: 50px}
p.copyright  {font-size: smaller;
              padding-top: 40px}

div.main        {margin-left: 30px;
                 margin-top: 30px}
div.nav_bar     {position: absolute;
                 left: 10px;
                 top: 10px}
div.nav_bar a    {font-size: 50px}
div.clicker     {padding: 10px}

a:link                         {color: #F5A9F2}
a:visited                      {color: #9F81F7}
a:focus, a:hover, a:active     {color: #cf0021}

h1                          {font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                             color: #BE81F7;
                             font-weight:bold;
                             font-size: 40px}

h2                          {font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                             color: #BE81F7;
                             font-weight:bold;
                             font-size: 30px}

img                        {border: none}
img.clicker                {border: none;
                            float: left;
                            padding-right: 15px}

p.note                     {font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                             color: #F7819F;
                             font-weight:bold;
                             font-size: 25px}
