body         {background: #000000;
              font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
              color: #2EFE64;
              font-weight:bold}

p            {font-size: 20px}
p.big        {font-size: 20px}
p.copyright  {font-size: smaller;
              padding-top: 40px}

div.main        {margin-left: 200px;
                 margin-top: 30px}
div.nav_bar     {position: absolute;
                 left: 10px;
                 top: 10px}
div.nav_bar a    {font-size: 30px}
div.clicker     {padding: 10px}
div.wild        {display: inline-block}

a:link                         {color: #CEECF5}
a:visited                      {color: #81DAF5}
a:focus, a:hover, a:active     {color: #cf0021}

h1                          {font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                             color: #81DAF5;
                             font-weight:bold;
                             font-size: 40px}

h2                          {font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                             color: #5882FA;
                             font-weight:bold;
                             font-size: 25px}

img                        {border: none}
img.clicker                {border: none;
                            float: left;
                            padding-right: 15px}

p.note                     {font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
                             color: #2EFE64;
                             font-weight:bold;
                             font-size: 25px}

@media only screen and (max-device-width:480px){
div.nav_bar a    {font-size: 35px}
p.big            {font-size: 35px}
}
